[submodule "Final/牛皓玥-161220095"]
	path = Final/牛皓玥-161220095
	url = https://github.com/NiuHaoYue98/GourdGame-v2.git
[submodule "Final/史文泰-171860588"]
	path = Final/史文泰-171860588
	url = https://github.com/TamakiRinko/CalabashGame.git
[submodule "Final/黄诗涵-171860033"]
	path = Final/黄诗涵-171860033
	url = https://github.com/hshzjnh/javaFinalHW.git
[submodule "Final/朱梓源-171860694"]
	path = Final/朱梓源-171860694
	url = https://github.com/RicoloveFeng/Huluwa-game.git
[submodule "Final/陈善梁-171860525"]
	path = Final/陈善梁-171860525
	url = https://github.com/mqchenliang/Java-Final-Project.git
[submodule "Final/戴佳宸-161220028"]
	path = Final/戴佳宸-161220028
	url = https://github.com/161220028jcdai/java2019finalhw.git
[submodule "Final/田广财-161220119"]
	path = Final/田广财-161220119
	url = https://github.com/DaleTian8820/java_2019_f.git
[submodule "Final/李宸玮-161220064"]
	path = Final/李宸玮-161220064
	url = https://github.com/vivid555/FinalProject.git
[submodule "Final/刘岚峰-161220082"]
	path = Final/刘岚峰-161220082
	url = https://github.com/qinglanDeku/Java_Final.git
